/* style.css */

body {
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #20948B;
}

#container {
	width: 400px;
	margin: 48px;
	padding: 32px;
	border-style: solid;
	border-width: 3px;
	border-radius: 8px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	background-color: black;
}

#display {
	display: flex;
	justify-content: end;
	font-family: Helvetica, sans-serif;
	font-size: 64px;
	padding: 24px 8px 0px;
	margin-bottom: 18px;
	min-height: 74px;
	background-color: #F4CC70;
	border-radius: 8px;
}

#top-buttons {
	display: flex;
	justify-content: center;
}

#clear-button,
#backspace-button {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	border-radius: 8px;	
	border: none;
}

.number-button,
.operator-button,
.decimal-button,
.equals-button {
	font-family: Helvetica, sans-serif;
	font-size: 32px;
	border-radius: 8px;
	border: none;
}

.number-button,
.decimal-button,
.equals-button {
	background-color: #DE7A22;
}

#clear-button,
#backspace-button,
.operator-button {
	background-color: #F4CC70;
}

#clear-button {
	margin: 2px;
	padding: 24px;
	flex-basis: calc(50% - 4px);
}

#backspace-button {
	margin: 2px;
	padding: 24px;
	flex-basis: calc(50% - 4px);
}

#operator-buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.number-button {
	aspect-ratio: 1 / 1;
	margin: 2px;
	flex-basis: calc(25% - 4px);
}

.operator-button {
	aspect-ratio: 1 / 1;
	margin: 2px;
	flex-basis: calc(25% - 4px);
}

.decimal-button {
	aspect-ratio: 1 / 1;
	margin: 2px;
	flex-basis: calc(25% - 4px);
}

.equals-button {
	aspect-ratio: 1 / 1;
	margin: 2px;
	flex-basis: calc(25% - 4px);
}
